# Python byte-compiled / optimized / DLL files
*.py[cod]
__pycache__/
*$py.class

#Datafolders
data/

# Distribution / packaging
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store

# Windows
Thumbs.db

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Editors
.idea
.vscode
.vs
.project
.spyderproject
.spyproject

# Editor temporaries
*.sw[pomn]
*~
